.Home .lander {
    padding: 250px 0;
    text-align: center;
  }
  
.Home .lander h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}
  
.Home .lander p {
    color: whitesmoke;
    font-size: x-large;
    text-shadow: 1.2px 1.2px #FFFFFF;
}
.picture{
    background-image: url('./picture2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
  