.Home .lander {
    padding: 250px 0;
    text-align: center;
  }
  
.Home .lander h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}
  
.Home .lander p {
    color: whitesmoke;
    font-size: x-large;
    text-shadow: 2px 0px 5px rgb(34,29,29),
                 4px 0px 10px rgb(77,75,75);
}
.picture{
    background-image: url('./picture2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
  