.forcontact{
  align-items: center;
  margin-top: 7%;
}
.icon{
  padding-top: 4px;
  font-size: 30px;
  border-right: solid 1px black;
  
}
.forbox{
  border: solid 1px black;
  height: 40px;
  width: 250px;  
  margin-left: 21%;
  display: inline-block;
}
.bg{
  height: 100%;
}
.forimg{
  height: 100px;
  width: 100px;
}

@media only screen and (max-width : 769px){
  .forimg{
    height: 80px;
    width: 80px;
  }
}

@media only screen and (min-width : 769px){
  .forbox{
    border: solid 1px black;
    height: 40px;
    width: 250px;  
    margin-left: 39%;
    display: inline-block;
  }
}
.forfont{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: 90px;
}