.forcontact{
  align-items: center;
  margin-top: 7%;
}
.icon{
  padding-top: 4px;
  font-size: 30px;
  border-right: solid 1px black;
  
}
.forbox{
  border: solid 1px black;
  height: 40px;
  width: 250px;  
  margin-left: 25%;
  display: inline-block;
}
.bg{
  height: 100%;
}