html,
body,
#root {
  height: 110%;
}
@media only screen and (max-width : 769px){
  html,
  body,
  #root{
    height: 130%;
  }
}
@media only screen and (max-width : 425px){
  html,
  body,
  #root{
    height: 142%;
  }
}
