html,
body,
#root {
  height: 170vh;
}
@media only screen and (max-width : 769px){
  html,
  body,
  #root{
    height: 125%;
  }
}
 @media only screen and (max-width : 425px){
  html,
  body,
  #root{
    height: 135%;
  }
}
@media only screen and (max-width : 375px){
  html,
  body,
  #root{
    height: 364vh;
  }
} 
  @media only screen and (max-width : 325px){
  html,
  body,
  #root{
    height: 380vh;
  }
} 