html,
body,
#root {
  height: 119%;
}
@media only screen and (max-width : 769px){
  html,
  body,
  #root{
    height: 124%;
  }
}
@media only screen and (max-width : 425px){
  html,
  body,
  #root{
    height: 150%;
  }
}
@media only screen and (max-width : 325px){
  html,
  body,
  #root{
    height: 153%;
  }
}