.bgpicture{
    background-image: url('./picture3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-color: black;
}
.forcard{
    background-color: rgba(0, 0, 0, 0.4)
}
.forfont{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: 90px;
}